
.header {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  text-align: center;
}

.carousel {
  color: white;
  object-fit: contain;
  height: 424px;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1621645582931-d1d3e6564943?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80");
  background-position: right; 
}

.icon-box {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .Routes-Nav {
    background-color: #f7f7f7;
    width: 25%;
    height: 95vh;
    float: left;
    clear: both;
    position: fixed;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .Routes-Main {
    width: 75%;
    float: right;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .carousel {
    height: 768px;
    background-size: cover;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .carousel {
    height: 100vh;
  }
}

.carousel .carousel__contents {
  margin-left: 30px;
  padding-top: 140px;
  height: 306px;
}

.carousel .carousel__contents .carousel__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .carousel .carousel__contents .carousel__title {
    height: 400px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .carousel .carousel__contents .carousel__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    text-align: center;
  }
}

.carousel .carousel__fadeBottom {
  height: 7.5rem;
  background-image: linear-gradient(180deg, transparent, rgba(37, 37, 37, 0.61), #1a1a29);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .carousel .carousel__fadeBottom {
    height: 28.9rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .carousel .carousel__fadeBottom {
    height: 45rem;
  }
}

.header a {
  text-decoration: none;
  color: #000;
}

.header .nav__logo,
.header h3 {
  color: #4287f5;
  text-shadow: 2px 10px 5px #42bcf5;
  font-weight: 900;
  font-size: 26px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header .nav__logo,
  .header h3 {
    padding: 0 12px;
    font-size: 33px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .header .nav__logo,
  .header h3 {
    font-size: 26px;
    padding: 0 6px;
  }
}

.header .nav__toggle {
  cursor: pointer;
}

.header .nav__toggle button {
  border: none;
  background: transparent;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header .nav__toggle button {
    border: none;
    background: transparent;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header .nav__toggle {
    cursor: pointer;
    display: none;
  }
}
.header .nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 5px #000;
  position: absolute;
  background: #fff;
  left: 0;
  z-index: 99;
  transform: translateY(-200%);
  transition: all 0.25s;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header .nav {
    display: flex;
    flex-direction: column;
    background: #fff;
    justify-content: center;
    transition: all 0.25s;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .header .nav {
    display: flex;
    flex-direction: column;
    background: #fff;
    justify-content: center;
    transition: all 0.25s;
  }
}

.header .nav span,
.header .nav a {
  padding: 12px 0;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header .nav span,
  .header .nav a {
    padding: 12px 16px;
  }
}

.header .nav a:hover {
  background: #97bf12;
  color: #fff;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header .nav a {
    width: 100%;
    display: flex;
    text-align: justify;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .header .nav a {
    width: 100%;
    display: flex;
    text-align: justify;
    padding: 12px 16px;
  }
}

.header .nav .nav__auth,
.header .nav .nav__items {
  display: flex;
  flex-direction: column;
}

.header .nav .nav__auth.active,
.header .nav .nav__items.active {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header .nav .nav__auth,
  .header .nav .nav__items {
    transition: all 0.25s;
    margin: 0 0 0 20px;
    text-align: justify;
  }
}

.header .nav .nav__auth.active {
  transform: translateY(232%);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header .nav .nav__auth {
    transform: translateY(375%);
    font-size: 32px;
    font-weight: 500;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .header .nav .nav__auth {
    transform: translateY(485%);
    font-size: 32px;
    font-weight: 500;
  }
}

.header .nav .nav__items.active {
  transform: translateY(221%);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header .nav .nav__items {
    transform: translateY(250%);
    font-size: 23px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .header .nav .nav__items {
    transform: translateY(300%);
    font-size: 22px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .header .nav__logo-tab {
    display: none;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  .header .nav__logo-tab {
    display: none;
  }
}

.header .logoutButton {
  background: #97bf12;
  color: #fff;
}

.items {
  background: #1a1a27;
  padding: 20px 0;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .items {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #1a1a27;
  }
}

@media screen and (min-device-width: 1224px) {
  .items {
    background: #1a1a27;
    padding: 0 3rem;
  }
}

.items .items-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .items .items-header {
    text-align: center;
  }
}

.items .items-header h1 {
  color: #97bf12;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .items .items-header h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
  }
}

.items .items-header p {
  color: #7ea500;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .items .items-lists {
    display: flex;
    padding: 20px;
    overflow-y: hidden;
    overflow-x: scroll;
    align-items: center;
    width: 100%;
  }
}

@media screen and (min-device-width: 1224px) {
  .items .items-lists {
    display: flex;
    flex-wrap: wrap;
  }
}

.items .items-lists .item {
  padding: 10px 0;
  margin: 10px 0;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .items .items-lists .item {
    margin: 0 30px;
  }
}

@media screen and (min-device-width: 1224px) {
  .items .items-lists .item {
    margin: 0 10px;
    flex: 1 0 20%;
  }
}

.items .items-lists .item a {
  text-decoration: none;
}

.items .items-lists .item figure {
  margin: 0;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .items .items-lists .item figure {
    margin: 0 0 1rem;
  }
}

.items .items-lists .item img {
  width: 100%;
  padding: 10px;
  background-size: cover;
  background-position: center;
  border-radius: 24px;
  max-height: 250px;
  transition: 0.3s;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .items .items-lists .item img {
    margin-right: 10px;
    height: 250px;
    max-height: 250px;
    border-radius: 50%;
    box-shadow: 0 8px 16px 1px #ccc;
    transition: 0.3s;
  }
}

@media screen and (min-device-width: 1224px) {
  .items .items-lists .item img {
    margin-right: 10px;
    height: 250px;
    max-height: 200px;
    box-shadow: 0 0 3px 0 #ccc;
    transition: 0.3s;
  }
}

.items .items-lists .item figcaption {
  font-weight: 500;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #97bf12;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .items .items-lists .item figcaption {
    font-size: 26px;
    text-align: center;
    text-transform: capitalize;
    padding: 10px 0;
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.items .items-lists .item .item__socialMedia {
  display: flex;
  justify-content: center;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .items .items-lists .item .item__socialMedia {
    display: flex;
    justify-content: center;
    margin: 20px 0 0;
  }
}